<div class="row">
  <div class="span3">
    <%= render 'settings/side_nav' %>
  </div>
  <div class="span9">
    <div class="page-header">
      <h2>Account <small>Change your basic account and password.</small></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f| %>
      <%= render "devise/shared/errors", resource: resource if resource.errors.any? %>
      <div class="control-group">
        <%= f.label :username, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :username, placeholder: "Username" %>
          <span class="help-block">Only use letters, numbers and '_'</span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%= f.email_field :email, placeholder: "Email" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password, autocomplete: "off", placeholder: "New Password"  %>
          <span class="help-block">leave blank if you don't want to change it</span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, placeholder: "Confirm New Password"  %>
        </div>
      </div>
      <% if current_user.authentications.blank? %>
        <div class="control-group">
          <%= f.label :current_password, class: "control-label" %>
          <div class="controls">
            <%= f.password_field :current_password, placeholder: "Current Password"  %>
            <span class="help-block">we need your current password to confirm your changes</span>
          </div>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
      </div>
    <% end %>
    <p><%= link_to "このアカウントを削除する", registration_path(resource_name), confirm: "本当に退会してよろしいですか?", method: :delete %></p>
  </div>
</div>
