<div class="row-fluid">
  <div class="span12">
    <h4><%= link_to event.title, event_path(event) %></h4>
    <p>
    <h4><i class="icon-calendar"></i> <small>開催日時</small>
      <%= event.start_date + " " + event.start_time %> <small><i class="icon-caret-right"></i></small> <%= event.end_date + " " + event.end_time %>
    </h4>
    <% if event.tag_list.present? %>
      <i class="icon-tags"></i>
      <% event.tags.each do |tag| %>
        <% if params[:tags].present? && params[:tags].split("+").include?(tag.name) %>
          <span class="label label-info"><%= tag.name.html_safe %></span>
        <% else %>
          <%= link_to tag.name.html_safe, tagged_events_path(tag.name), class: "label" %>
        <% end %>
      <% end %>
    <% end %>
    <blockquote>
      <p><%= truncate Sanitize.clean(event.description, Sanitize::Config::RESTRICTED), length: 80 %></p>
      <small>Posted by <%= link_to image_tag(event.user.image_url, class: "small_avator img-rounded"), artist_path(event.user.username) %> <%= link_to event.user.username,  artist_path(event.user.username) %> at <%= event.created_at.to_s(:db) %></small>
    </blockquote>
    </p>
    <% if user_signed_in? && current_user.id == event.user.id %>
      <%= link_to "<i class='icon-edit'></i> 編集".html_safe, edit_event_path(event), class: "btn btn-mini" %>
      <%= link_to "<i class='icon-trash'></i> 削除".html_safe ,event_path(event), confirm: '本当に削除しますか？', method: :delete, class: "btn btn-mini btn-danger" %>
    <% end %>
    <div class="page-header"></div>
  </div>
</div>
