<div class="row-fluid">
  <div class="span12">
    <h5><%= link_to event.title, event_path(event) %></h5>
    <p>
    <i class="icon-calendar"></i> <%= event.start_date + " " + event.start_time + " - " + event.end_date + " " + event.end_time %><br />
    <%= link_to "<i class='icon-globe'></i> #{event.url}".html_safe , event.url, target: "_blank" if event.url.present? %><br />
    <% if event.tag_list.present? %>
      <i class="icon-tags"></i>
      <% event.tags.each do |tag| %>
        <% if params[:tags].present? && params[:tags].split("+").include?(tag.name) %>
          <span class="label label-info"><%= tag.name.html_safe %></span>
        <% else %>
          <%= link_to tag.name.html_safe, tagged_events_path(tag.name), class: "label" %>
        <% end %>
      <% end %>
    <% end %>
    <blockquote>
      <p><%= truncate event.description, length: 80 %></p>
      <small>Posted by <%= link_to image_tag(event.user.image_url, class: "small_avator img-rounded"), "" %> <%= link_to event.user.username, ""%> at <%= event.created_at.to_s(:db) %>
    </small>
  </blockquote>
  </p>
  <% if user_signed_in? && current_user.id == event.user.id %>
    <%= link_to "編集", edit_event_path(event) %> | <%= link_to "削除" ,event_path(event), confirm: '本当に削除しますか？', method: :delete %>
  <% end %>
  <div class="page-header"></div>
</div>
</div>
