<div class="well">
  <%= link_to 'New Event', new_event_path if current_user.present? %>
  <div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-small">表示順</button>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
      <li><%= link_to "登録日時が新しい順", "" %></li>
      <li><%= link_to "再生数が多い順", ""  %></li>
      <li><%= link_to "マイリスト数が少ない順", "" %></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-small">投稿日時</button>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
      <li><%= link_to "24時間以内", "" %></li>
      <li><%= link_to "24時間以内", "" %></li>
      <li><%= link_to "24時間以内", "" %></li>
    </ul>
  </div>
</div>
  <hr />
  <% tag_cloud(@tags, ["label", "label label-success", "label label-warning", "label label-important"]) do |tag, css_class| %>
    <% if params[:tags].present? && params[:tags].split("+").include?(tag.name) %>
      <span class="label label-info"><%= tag.name.html_safe %></span>
    <% else %>
      <%= link_to tag.name.html_safe, "", class: css_class %>
    <% end %>
  <% end %>
</div>
