<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>Listing events<small> アーティストのイベント一覧</small></h2>
    </div>
    <% if @events.present? %>
      <div align="center">
        <%= gmaps4rails(@json) %>
      </div>
      <%= render @events %>
      <%= will_paginate @events %>
    <% else %>
      <p>該当するイベントは存在しません</p>
    <% end %>
  </div>
  <div class="span3">
    <%= render "search_conditions" %>
    <%= render "side_bar" %>
  </div>
</div>
