<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>Listing events<small> <%= "#{@artist.username} の" if @artist.present? %>イベント一覧</small></h2>
    </div>
    <% if @events.present? %>
      <div align="center">
        <%= gmaps4rails(@json) %>
      </div>
      <%= render @events %>
      <%= will_paginate @events %>
    <% else %>
      <p>該当するイベントは存在しません</p>
    <% end %>
  </div>
  <div class="span3">
    <% if @artist.present? %>
    <h4><i class="icon-user"></i> アーティスト情報</h4>
    <div class="row">
      <div class="span1">
        <%= link_to image_tag(@artist.image_url, class: "img-rounded img-polaroid"), artist_path(@artist.username) %>
      </div>
      <div class="span2">
        <%= @artist.name %></br>
        <b><%= link_to @artist.username, artist_path(@artist.username) %></b></br>
      </div>
    </div>
    <hr />
  <% end %>
    <%= render "search_conditions" %>
    <%= render "side_bar" %>
  </div>
</div>
