<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1><%= @event.title%></h1>
      <h2><i class="icon-calendar"></i> <small>開催日時</small>
        <%= @event.start_date + " " + @event.start_time %> <small><i class="icon-caret-right"></i></small> <%= @event.end_date + " " + @event.end_time %>
      </h2>
      <% if @event.url.present? %>
        <h4><i class='icon-globe'></i> <%= link_to "#{@event.url} <i class='icon-external-link'></i>".html_safe , @event.url, target: "_blank"%></h4>
      <% end %>
      <% if @event.tag_list.present? %>
        <h4>
          <i class="icon-tags"></i>
          <% @event.tags.each do |tag| %>
            <%= link_to tag.name.html_safe, tagged_events_path(tag.name), class: "label" %>
          <% end %>
        </h4>
      <% end %>
    </div>
    <div class="page-header">
      <h4><i class="icon-info-sign"></i> イベント詳細</h4>
    </div>
    <p>
    <%= Sanitize.clean(@event.description, Sanitize::Config::CUSTOM).html_safe %>
    </p>
  </div>
  <div class="span4 sidebar">
    <% if @event.user_id == current_user.id %>
      <%= link_to "<i class='icon-edit'></i> 編集".html_safe, edit_event_path(@event), class: "btn" %>
      <%= link_to "<i class='icon-trash'></i> 削除".html_safe ,event_path(@event), confirm: '本当に削除しますか？', method: :delete, class: "btn btn-danger" %>
    <% end %>
    <h4><i class="icon-user"></i> アーティスト情報</h4>
    <div class="row">
      <div class="span1">
        <%= link_to image_tag(@event.user.image_url, class: "img-rounded img-polaroid"), "" %>
      </div>
      <div class="span3">
        <%= @event.user.name %></br>
        <b><%= link_to @event.user.username, "" %></b></br>
        <% if @event.user.tag_list.present? %>
          <i class="icon-tags"></i>
          <% @event.tags.each do |tag| %>
            <span class="label"><%= tag.name.html_safe %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="well">
      <h4><i class="icon-map-marker"></i> 会場情報</h4>
      <dl>
        <dt>会場</dt>
        <dd><%= @event.place %></dd>
        <dt>住所</dt>
        <dd><%= @event.address %></dd>
      </dl>
      <%= gmaps4rails(@json) %>
    </div>
    <div class="well">
      <h4><i class="icon-money"></i> 料金</h4>
      <p>
      <%= @event.fee %>円
      </p>
    </div>
  </div>
</div>
