<hr>
<footer class="footer">
<div class="container">
  <div class="row">
    <div class="span10">
  <ul class="footer-links">
    <li><%= link_to "About", about_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Policy", policy_path %></li>
    <li class="muted">·</li>
    <li><%= link_to "Help", help_path %></li>
  </ul>
  <p>&copy; MuseumCreated.com 2013</p>
</div>
<div class="span2">
  <%= render 'shared/social_buttons', url: "http://mucre.herokuapp.com", title: "MuseumCreated.com" %>
</div>
</div>
</div>
</footer>
<%= yield :scripts %>
